.side-nav{
    padding: 0;
    height: 92vh;
    .side-navbar{
    height: 92vh;
    .side-nav-container{
        padding: 0;
        .side-nav-item{
            cursor: pointer;
            list-style: none;
            background: #ededed;
            border: 1px solid #fff;
            padding:30px 20px 35px 20px;
            position:relative;
            progress-indicator{
                    display:none;
                }
            &:focus{
                outline: none;
            }
            &.active{
                background: #0099FF;
                box-shadow: inset 0px 0px 20px #0066CC;
                outline: none;
                .side-nav-tab{
                    .side-nav-link{
                        color:white;
                    }
                }   
                progress-indicator{
                    display:block;
                }         
            }
            .side-nav-tab{
                span{
                    color:#000;
                    padding-left: 20px;
                }
                .side-nav-link{
                    padding-left: 20px;
                    color: #000;
                    text-decoration: none;
                }
            }
            progress-indicator{
                width: 100%;
                height: 2px;
                position: absolute;
                left: 0;
                bottom: 6px;
            }
        }
    }
}
}