button{
    text-transform: initial;
    padding: 5px 15px 5px 15px;
    font-size: 0.9em;
    border-radius: 20px;
}
 table{
     font-size:0.9rem;
     .table-head{
        th{
            text-align: center;
        }
     }
 }