<div class="contaner-fluid">
  <div class="row align-items-center">
    <div class="offset-sm-2 col-sm-8 input-styling">
      <div class="row input-heading">Bank & Investment</div>
      <div class="row input-sub-heading">Below are you current finacial institution you have sync</div>
      <table class="table table-hover table-striped table-sm">
        <thead>
          <tr>
            <th colspan="2">Name:{{custName}}</th>
            <th colspan="3">Bank Name:{{bankName}}</th>
          </tr>
          <tr class="table-head">
            <th>Account#</th>
            <th>Type</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let account of summaryList">
            <td>{{account.accountNumber}}</td>
            <td>{{account.accountType}}</td>
            <td>{{account.availableBalance |currency:'USD':true}}</td>
          </tr>
          <tr>
            <td><button class="btn btn-primary" (click)="viewDetails(custId)">View All Transactions</button></td>
            <td><b>Total</b></td>
            <td><b>{{total |currency:'USD':true}}</b></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>