<div class="contaner-fluid">
    <div class="row align-items-center">
        <div class="offset-sm-3 col-sm-6 input-styling">
            <div class="row input-heading">Account Information</div>

            <form class="form-adj" (ngSubmit)="onSubmit()" #f="ngForm">
                <div class="group">
                    <input type="text" required ngModel name="firstName" #firstName=ngModel>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label *ngIf="!firstName.touched || firstName.valid">First Name</label>
                    <label *ngIf="firstName.touched && !firstName.valid" class="invalid-input">First Name is required</label>
                </div>
                <div class="error-msg" *ngIf="">Enter First Name</div>
                <div class="group">
                    <input type="text" required ngModel name="middleName" #middleName=ngModel>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label *ngIf="!middleName.touched || middleName.valid">Middle Name</label>
                    <label class="invalid-input" *ngIf="middleName.touched && !middleName.valid">Middle Name is required</label>
                </div>
                <div class="group">
                    <input type="text" required ngModel name="lastName" #lastName=ngModel>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label *ngIf="!lastName.touched || lastName.valid">Last Name</label>
                    <label class="invalid-input" *ngIf="lastName.touched && !lastName.valid">Last Name is required</label>
                </div>
                <div class="group">
                    <input type="text" required ngModel name="email" #email=ngModel pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                    (focus)="inputFocus=false"
                    (blur)="inputFocus=(!email.valid)"
                    >
                    <span class="highlight" [class.inv]="inputFocus"></span>
                    <span class="bar"></span>
                    <label *ngIf="!email.touched || email.valid">Preffered Email</label>
                    <label class="invalid-input" *ngIf="email.touched && !email.valid">Email is required</label>
                </div>

                <div class="group">
                    <input type="text" required ngModel name="phone" #phone=ngModel pattern="[0-9]+"
                    (focus)="inputPhoneFocus=false"
                    (blur)="inputPhoneFocus=(!phone.valid)">
                    <span class="highlight" [class.inv]="inputPhoneFocus"></span>
                    <span class="bar"></span>
                    <label *ngIf="!phone.touched || phone.valid">Phone#</label>
                    <label class="invalid-input" *ngIf="phone.touched && !phone.valid">Phone is required</label>
                </div>

                <label class="btns-lebels">Preffered Method of Communication</label>
                <div class="row btns-group">
                    <button type="button" [class.btn-account]="true" btn-cliked [class.btn-cliked]="phoneCliked" (click)="onOptionClick($event)">Phone</button>
                    <button type="button" [class.btn-account]="true" [class.btn-cliked]="emailCliked" (click)="onOptionClick($event)">Email</button>
                    <button type="button" [class.btn-account]="true" [class.btn-cliked]="textCliked" (click)="onOptionClick($event)">Text</button>
                    <button type="button" [class.btn-account]="true" [class.btn-cliked]="allCliked" (click)="onOptionClick($event)">All</button>
                </div>
                <div class="row justify-content-between col-sm-8">
                    <div class="col-sm-6">
                        <button type="button" class="btn back-btn">Back</button>
                    </div>
                    <div class="col-sm-6">
                        <button [disabled]="!f.valid" type="Submit"
                            class="btn btn-primary">Next</button>
                    </div>
                </div>

            </form>
            <div *ngIf="userExist">User already exists. Try differnt email Id</div>
         
        </div>

    </div>
</div>