.account-header{
    text-align: center;
    font-weight: 600;
    color: #125ca7;
    font-size: 24px;
    margin-top: 15px;
}
 .btn-account{
    outline: none;
    display: inline-block;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: all .2s ease-in-out;

    color: #5290c2;
    background-color: #fff;
    background-image: none;
    border-color: #d2d3d4;
    height: 40px;
    margin-right: 8px;
    border-radius: 8px !important;
    margin-top: 8px;
    min-width: 75px;
    cursor: pointer;
    float: left;
    }
    .btn-cliked{
        background-color: #00a7f8;
        color: #fff;
    }
    .btn-account:hover{
      background-color: #5290c2;
      color: #fff;
    }
    .btns-lebels{
    border: none;
    outline: none;
    display: block;
    width: 300px;
    color: #c4baba;
    text-align: left;
    padding-left: 5px;

    }
   .btns-group{
       padding-bottom: 25px;
   }
   .invalid-input{
           color:red !important;
   }
   .form-adj{
       margin-top:30px; 
   }
   .inv{
    background-color: #fff;
    opacity: 1  !important;
    width:300px !important;
   }