.propertyQuestions{
    margin-bottom: 50px;
    button{
            line-height: 0.25;
            position: relative;
            top: 15px;
            float:left;
            margin-right: 5px;
            font-size: 12px;
    }
    label{
        padding-left:15px;
    }
}
  .form-adj{
       margin-top:30px; 
   }
    .btns-lebels{
    border: none;
    outline: none;
    display: block;
    width: 300px;
    color: #c4baba;
    text-align: left;
    padding-left: 5px;
    }
    .btn-grp-adj{
       margin-top:50px;
    }