// .image-tiles{
//     margin-bottom: 10px;
//     .img-block-1{
//         .bank-box{
//             height: 75px;
//             width: 137px;
//             opacity: 0.4;
//             box-sizing: border-box;
//             cursor: pointer;
//             margin-right: 10px;
//             position: relative;
//             &:hover{
//                 box-shadow: 0px 0px 5px #282828;
//                 opacity:1;
//             }
//             .img-1{
//                 background: url("../../../../assets/logo_sprite.png") no-repeat 0% 0%;
//                 width: 100%;
//                 height: 100%;
//             }
//             .img-2{
//                 background: url("../../../../assets/logo_sprite.png") no-repeat 45.5% 0%;
//                 width: 100%;
//                 height: 100%;
//             }
//             .img-3{
//                 background: url("../../../../assets/logo_sprite.png") no-repeat 0% 30%;
//                 width: 100%;
//                 height: 100%;
//             }
//         }
//     }
// }
.banks-assets{
    .image-tiles{
        margin-bottom: 10px;
        .img-block-1{
             max-height: 310px;
            overflow-y: scroll;
            width: 85%;
            padding: 0px 15px 0px 15px;
            .bank-box{
                height: 100px;
                width: 180px;
                opacity: 0.4;
                box-sizing: border-box;
                cursor: pointer;
                margin-right: 10px;
                position: relative;
                padding: 0px 10px 0px 10px;
                &:hover{
                    box-shadow: 0px 0px 5px #282828;
                    opacity:1;
                }
                img{
                    height:50%;
                    width:auto;
                    padding-top:10px;
                }
                .img-1{
                    background: url("../../../../assets/logo_sprite.png") no-repeat 0% 0%;
                    width: 100%;
                    height: 100%;
                }
                .img-2{
                    background: url("../../../../assets/logo_sprite.png") no-repeat 45.5% 0%;
                    width: 100%;
                    height: 100%;
                }
                .img-3{
                    background: url("../../../../assets/logo_sprite.png") no-repeat 0% 30%;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    .financial-inst-question{
        margin-top: 5%;
        .institution-name{
            //  input{
            //      width:275px;
            //  }
            margin-bottom:2px;
            input[type=text] {
                width: 100%;
                box-sizing: border-box;
                border: 2px solid #ccc;
                border-radius: 4px;
                font-size: 16px;
                background-color: white;
                //background-image: url('searchicon.png');
                background-position: 10px 10px; 
                background-repeat: no-repeat;
                padding: 12px 20px 12px 40px;
                -webkit-transition: width 0.4s ease-in-out;
                transition: width 0.4s ease-in-out;
            }
        }
        button{
                line-height: 0;
            }
        .bar{
            width: 235px;
        }
    }

.bank-selected{
    box-shadow: 0px 0px 5px #282828;
    opacity:1 !important;
}
}