<div class="contaner-fluid">
  <div class="row align-items-center">
    <div class="offset-sm-3 col-sm-9 input-styling banks-assets">
      <div class="row input-heading">Savings and Investments</div>
      <div class="row input-sub-heading">Which financial institution do you want to add account for?</div>
      <div class="image-tiles">
        <div *ngIf="!bankSearchResults" class="row img-block-1">
          <div *ngFor="let bank of bankList">
            <div class="col-md-8">
              <div class="bank-box" [class.bank-selected]="active === bank.institutionId" (click)="active = bank.institutionId;bankId = bank.institutionId;bankName=bank.name;bankLogo = bank.logo">
                <img [src]="bank.logo" />
                <br> {{bank.name}}
              </div>
            </div>
          </div>
        </div>

      <div class="row  img-block-1" *ngIf="bankSearchResults;let i = index">
        <div *ngFor="let bank of bankSearchResultsList">
            <div class="">
              <div class="bank-box" [class.bank-selected]="active === bank.institutionId" (click)="active = bank.institutionId;bankId = bank.institutionId;bankName=bank.name;bankLogo = bank.logo">
                <img [src]="bank.logo" />
                <br> <p>{{bank.name}}</p>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="row justify-content-between col-sm-8 financial-inst-question">
        <div class="col-sm-6">
          <div class="group institution-name">
            <input type="text" name="search" placeholder="Enter bank name" [(ngModel)]="bankToSearch">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Or enter a financial institution</label>
          </div>
          <button class="btn btn-primary" (click)="searchBank()">
              Search Bank
            </button>
        </div>
        <div class="col-sm-6">
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">I do not have any assets
            </label>
          </div>
        </div>
      </div>


      <div class="row justify-content-between col-sm-8">
        <div class="col-sm-6">
          <button class="btn back-btn" (click)="goBack()">Back</button>
        </div>
        <div class="col-sm-6">
          <button class="btn btn-primary" (click)="loadNext()">Next</button>
        </div>
      </div>
    </div>
  </div>
</div>