<form (ngSubmit)="onSubmit(form)" #form="ngForm">
  <div class="col-sm-6" ngModelGroup="loginGroup">
     <div class="row"><input type="input" 
     ngModel 
     required
     name="username"
     ></div>
  <div class="row"><input 
  type="password" 
  ngModel 
  required
  name="password"
  ></div>
  </div>
 
  <div class="row"><button [disabled]="!form.valid" class="btn btn-primary" type="submit">Submit</button></div>
</form>