.launch-home{
    height: 100vh;
    background: #ededed;
    border: 2px solid #fff;
    .launch-home-text{
        font-size: 2em;
        text-align: center;
        b{
            font-size: 3em;
        }
        button{
            cursor: pointer;
            margin: auto; 
        }
    }
}