.welcome-bg{
    background: linear-gradient(#0066CC,#00CC99);
    height: 100vh;
    .welcome-hm{
        padding-top:10px; 
        font-size: 3em;
        color: white;
        text-align: center;
        p{
            animation: fadeIn 2s ease-in-out;
        }
        .welcome-doc{
            font-size: 4em;
        }
        .welcome-button{
            background: white;
            border: 1px solid #ededed;
            cursor: pointer;
            font-weight: 600;
            margin: auto;
            &:hover{
                background: #ededed;
                border: 1px solid #b8b8b8;
            }
        }
    }
    @keyframes fadeIn{
        from{margin-top: -20%;opacity: 0}
        to{margin-top:0;opacity: 1}
    }
    
}
