<section class="container-fluid no-padding welcome-bg">
  <div class="row align-items-center">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 welcome-hm">
      <p>
        Welcome to
        <b class="welcome-doc">Docitt</b>
      </p>
      <button type="button" class="btn welcome-button" (click)="loadNext()">Get Started</button>
      <button type="button" class="btn welcome-button" (click)="login()">Login</button>
    </div>
    <div class="col-sm-3"></div>
  </div>
</section>