<div class="container-fluid no-padding">
  <div class="row align-items-center">
    <form (ngSubmit)="filterData(f)" #f="ngForm">
      <div class="row align-items-center input-styling">
        <div class="row full-row">
          <div class="col-sm-6 flex-display">
            <div class="col-sm-5">
              <div class="group margin-left">
                <input type="date" required ngModel name="fromDate" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>From date</label>
              </div>
            </div>
            <div class="col-sm-5">
              <div class="group margin-left">
                <input type="date" required ngModel name="toDate" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>To Date</label>
              </div>
            </div>
          </div>
          <div class="col-sm-6 flex-display">
            <div class="label-group">
              <label for="All" class="{{btn1}}">All</label>
              <input type="radio" class="hide" name="filterTypeGroup" [value]="0" id="All" (change)="onSelectionChange(0)">
            </div>
            <div class="label-group">
              <label for="Debit" class="{{btn2}}">Debit</label>
              <input type="radio" class="hide" name="filterTypeGroup" [value]="1" id="Debit" (change)="onSelectionChange(1)">
            </div>
            <div class="label-group">
              <label for="Credit" class="{{btn3}}">Credit</label>
              <input type="radio" class="hide" name="filterTypeGroup" [value]="2" id="Credit" (change)="onSelectionChange(2)">
            </div>
            <div class="btn-div">
              <button class="btn btn-primary" [disabled]="!f.valid || !typeFlag" type="submit">View Details</button>
            </div>
          </div>
        </div>
      </div>
      <!--<div class="col-sm-12">
        <div class="row button-group">
          <div class="row button-row">
            <div class="col label-group" *ngFor="let filterAccount of filterList;let i of index">
              <label for="filterAccount">{{filterAccount}}</label>
              <input type="radio" name="filterAccountGroup" id="filterAccount" [value]="filterAccount" (change)="onSelectionChangeAccount(filterAccount)">
            </div>
          </div>
        </div>
      </div>-->

      <select ngModel name="selectedValue">
      <option *ngFor="let filterAccount of filterList" [value]="filterAccount">{{filterAccount}}</option>
      </select>
      <!--<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
Account Type  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    {{filterList}}-->
      <!--<a *ngFor="let filterAccount of filterList" class="dropdown-item">{{filterAccount}}</a>-->
      <!--<a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>-->
      <!--</div>-->
      <!--</div>-->
    </form>
  </div>
  <section *ngIf="detailsFlag || zeroFlag || errorFlag" class="container-fluid detail-body">
    <div class="detail-view">
      <div class="header-row">{{accountType}}</div>
      <table *ngIf="!zeroFlag && !errorFlag" class="table table-striped table-hover table-sm">
        <thead>
          <tr>
            <th>Account Number</th>
            <th>Transaction Id</th>
            <th>Transaction Date</th>
            <th>Transaction Type</th>
            <th>Amount</th>
            <th>No. Of Flags</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let account of accountDetails">
            <td>{{account.accountNumber}}</td>
            <td>{{account.transactionId}}</td>
            <td>{{account.transactionDate}}</td>
            <td>{{account.type}}</td>
            <td>{{account.amount}}</td>
            <td>{{account.flagsCount}}</td>
          </tr>
        </tbody>
      </table>
      <section *ngIf="zeroFlag && !errorFlag" class="no-account">
        <div class="offset-sm-2 col-sm-6">
          There is no accounts associated with this type. <br>
          <b>Total:{{this.accountDetails.total |currency:'USD':true}}</b>
        </div>
      </section>
      <section *ngIf="!zeroFlag && errorFlag" class="no-account">
        <div class="">
          <div class="offset-sm-2 col-sm-6">
          </div> Snap. Error occured with the following error message: <br>
          <b>{{errorMsg}}</b>
          <div class="offset-sm-2 col-sm-8 error-symbol">
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
          </div>
        </div>

      </section>
    </div>
  </section>
</div>